:root{
    --color-black: rgba(0,0,0,1);
    --color-white: rgba(255,255,255,1);
    --color-black-alpha-01:  rgba(0,0,0,0.1);
    --background-dropdown: rgb(90, 89, 89);
    --background-status: rgb(18, 181, 18);
}

a:link{
    text-decoration: none;
    color: var(--color-black) !important; 
 }

a{
    color: var(--color-black);
    cursor: pointer;
 }
h4{
    margin: 0;
}
h1{
    margin-left: 1rem
}
.container{
    margin: 0;
 }

.header-icon{
    width: 3%;
    margin-left: 1rem;
 }

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black-alpha-01);

 }

.wrapper{
    width: fit-content;
}

.grid-container{  
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 20px;
 }

 .grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
 }

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
 }

.dropdown{
    display: flex;
    flex-direction: column;
    z-index: 1rem;
    background-color: var(--background-dropdown);
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    flex-wrap: nowrap;
    transform: translate(-40px, 70px);
 }
 .dropdown-flag{
    display: flex;
    flex-direction: column;
    z-index: 1rem;
    background-color: var(--background-dropdown);
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    flex-wrap: nowrap;
    transform: translate(45px, 70px);
 }

 .dropdown-notification{
    width: 125px;
 }

.profile-content{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.img-round{
    display: flex;
    border-radius: 9999px;
    overflow: hidden;
    border: 2px solid var(--background-status);
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

.img-effect{
    width: 100%;
    height: 100%;
 }

.container-img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
 }

.dropdown-lang{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    place-content: inherit;
}
.container-flag{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: fit-content;
    align-content: center;
    display: flex;
    align-items: center;
}
.icon-status{
    position: absolute;
    background-color: green;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: 100;
    border-radius: 9999px;
    border: 1px solid green;
    transform: translate(-13px, 48px);
 }

.page-wrapper{
    display: flex;
    width: 100%;
 }

 .sidebar-section{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.5);
    width: 300px; 
    height: 100%;
    justify-content: space-between;
    height: 100vh;
 }
 .sidebar-container{
    height: fit-content;

 }

.sidebar-section.close{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.5);
    width: 65px; 
    height: 100vh;
    animation: closeSidebar 1s forwards;
 }

.sidebar-section.open{
    width: 300px; 
    animation: openSidebar 1s forwards;
 }

.close-sidebar{
    width: fit-content;
    border-radius: 9999px;
    background: white;
    position: absolute;
    left: 0;
    margin-top: 5px;
    transform: translate(240px, 4px);
    cursor: pointer;
 }

.sidebar-header{
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
 }

.sidebar-section .title{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
 }
.section-mode{
    height: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: azure;
}
.icon-change.active{
    animation: animateSunbar 1s forwards;
}
.icon-change{
    animation: animateNightbar 1s forwards;
}

.wrapper-container{
    margin: 2rem;
    display: grid;
    grid-auto-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap:10px;
    padding: 10px;
    width: 100%;
 }
 
.fa-circle-arrow-left{
    font-weight: 500;
    font-size: 25px;
    color: purple;
 }

.close-sidebar.close{
    width: fit-content;
    border-radius: 9999px;
    background: white;
    position: absolute;
    margin-top: 5px;
    animation: closeIconSidebar 1s forwards;
 }

.close-sidebar.open{
    width: fit-content;
    border-radius: 9999px;
    background: white;
    position: absolute;
    margin-top: 5px;
    animation: openIconSidebar 1s forwards;
 }

.fa-html5{
    font-size: 30px;
 }

 .hidden{
    display: none;
 }

.sidebar-content{
    display: flex;
    flex-direction: column;
}

.align-left{
    align-items: center;
    justify-content: left;
    margin: 0;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.rotated{
    animation: closeIcon 1s forwards;
}

.item-sidebar{
    display: flex;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.item-sidebar.open{
    align-items: center;
    justify-content: center;
}
.dropdown-item {
    color: white;
    padding: 5px 10px 5px 10px;
}

.title-content{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 9px;
}

.content-body{
    padding: 5px;
}
.section-body{
    margin-top: 1rem;
    height: 100%;
    min-height: 100%;
    display: flex;
}
.card-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f6f6;
    border-radius: 25px;
    padding: 1rem;
    width: 500px;
    height: 300px;
    margin: 1rem;
}
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.notification-content{
    width: 390px;
    height: fit-content;
    position: absolute;
    top: 0;
    align-self: center;
    transform: translate(-300px, 55px);
}
.item{
    display: flex;
}
.dropdown-content-profile{
    width: 70px;
    height: 50px;
    border-radius: 9999px;
    overflow: hidden;
}
.img-dropdown{
    border-radius: 9999px;
}
.item-message{
    width: fit-content;
    padding: 0.5rem;
}
.d-flex{
    display: flex;
}
.date{
    font-size: 12px;
    font-weight: lighter;
}
.flex-column{
    flex-direction: column;
}
.content-message{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    text-align: right;
    justify-content: end;
}
.user-content{
    display: contents;
}

.hover-container{
    z-index: 1000;
    padding: 1rem;
    background-color: azure;
}

@keyframes openIconSidebar{
    0% { transform: translate(50px, 0) rotate(180deg);}
    100% { transform:  translate(235px, 0)  rotate(0deg);}
} 

@keyframes closeIconSidebar{
    0% { transform:  translate(235px, 0) rotate(0deg);}
    100% { transform: translate(50px, 0)  rotate(180deg);}
}

@keyframes openSidebar{
    0% { width: 65px;}
    100% { width: 300px;}
}

@keyframes closeSidebar{
    0% { width: 300px; }
    100% { width: 65px; }
}

@keyframes animateSunbar{
    0% { transform: translate(0px, 0); }
    100% { transform: translate(33px, 0); }
}

@keyframes animateNightbar{
    0% { transform: translate(33px, 0); }
    100% { transform: translate(0px, 0); }
}

@media screen and (max-width:600px) {
    .h-content{
        display: none;
    }
    .container-flag{
        width: fit-content;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    .h-notification{
        display: none;
    }
    .dropdown-notification{
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    .sidebar-section{
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 240, 240, 0.5);
        width: 65px; 
        height: 100vh;
        animation: closeSidebar 1s forwards;
     }
     .close-sidebar{
        display: none;
     }
     .title{
        display: none;
        font-size: 14px;
        font-weight: 500;
     }
     .sidebar-header{
        margin: 0px;
        align-items: center;
        justify-content: center;
     }
     .header-icon{
        height: 0;
        width: 0
        ;
     }
}

@media screen and (max-width:800px) {
    .h-content{
        display: none;
    }
    .container-flag{
        width: fit-content;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    .h-notification{
        display: none;
    }
    .dropdown-notification{
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }
    .sidebar-section{
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 240, 240, 0.5);
        width: 65px; 
        height: 100vh;
        animation: closeSidebar 1s forwards;
     }
     .close-sidebar{
        display: none;
     }
     .title{
        display: none;
     }
     .sidebar-header{
        margin: 0px;
        align-items: center;
        justify-content: center;
     }
     .header-icon{
        height: 0;
        width: 0;
     }

}